*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: #f3f3f3;
}
.item {
    width: 500px;
    height: 500px;
    background: red;
}